<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ticket.film.dao.IFilmDao">
    <!--电影详情结果集-->
    <resultMap id="filmDetailResultMap" type="com.ticket.film.entity.FilmDetail">
        <id property="id" column="film_id"/>
        <result property="filmName" column="film_name"/>
        <result property="filmImg" column="film_img"/>
        <result property="filmScore" column="film_score"/>
        <result property="filmHot" column="film_hot"/>
        <result property="details" column="details"/>
        <result property="filmStartDate" column="film_start_date" />
        <result property="director" column="director"/>
        <result property="synopsis" column="synopsis"/>
        <result property="trailerAddress" column="trailer_address"/>
        <result property="filmLength" column="film_length"/>
        <result property="language" column="language"/>
        <result property="threeDLV" column="3DLV"/>
        <collection property="actors" column="film_id"  select="selectActorsByFilmId"/>
        <collection property="types" column="film_id"  select="selectTypesByFilmId" />
    </resultMap>
    <!--&lt;!&ndash;电影结果集&ndash;&gt;-->
    <!--<resultMap id="filmResultMap" type="com.ticket.film.entity.Film">-->
        <!--<id property="id" column="id"></id>-->
        <!--<result property="filmImg" column="film_img"></result>-->
        <!--<result property="filmName" column="film_name"></result>-->
        <!--<result property="filmScore" column="film_score"></result>-->
        <!--<result property="filmHot" column="film_hot"></result>-->
    <!--</resultMap>-->
    <!--演员结果集-->

    <resultMap id="actorResultMap" type="com.ticket.film.entity.Actor">
        <id property="id" column="id"></id>
        <result property="actorName" column="actor_name"/>
        <result property="actorPhoto" column="actor_photo"/>
        <result property="flag" column="main_actor_flag"/>
    </resultMap>

    <sql id="filmDetailsPro">
        fd.film_id,f.film_name,f.film_img,f.film_score,f.film_hot,
        fd.details,fd.film_start_date,fd.director,fd.synopsis,
        fd.trailer_address,fd.film_length,fd.language,fd.3DLV
    </sql>
    <!--电影id查找电影详情-->

    <select id="test" resultMap="filmDetailResultMap">
        SELECT <include refid="filmDetailsPro"></include>
        FROM film f
        JOIN film_details fd
        on f.id = fd.film_id
    </select>

    <select id="filmDetail" resultMap="filmDetailResultMap">
        SELECT <include refid="filmDetailsPro"></include>
        FROM film f
        JOIN film_details fd
        on f.id = fd.film_id
        WHERE f.id = #{id}
    </select>
    <!--电影id查找所有类型-->
    <select id="selectTypesByFilmId" resultType="java.lang.String">
        SELECT type_name FROM film_type_chose ft
        JOIN film f ON ft.film_id = f.id
        JOIN type t ON ft.type_id = t.id
        WHERE f.id = #{id}
    </select>
    <!--电影id查找所有演员-->
    <select id="selectActorsByFilmId" resultMap="actorResultMap">
        SELECT a.id,a.actor_name,a.actor_photo,af.main_actor_flag FROM actor_film_details_chose af
        JOIN actor a ON af.actor_id = a.id
        JOIN film_details fd ON af.film_details_id  = fd.id
        WHERE fd.film_id = #{id}
    </select>
    <!--查找所有上映的电影-->
    <select id="filmsLoading" resultMap="filmDetailResultMap">
        SELECT  <include refid="filmDetailsPro"/>
        FROM film f
        JOIN film_details fd
        on f.id = fd.film_id
        WHERE fd.film_start_date &lt; #{now} and fd.film_start_date !=''
    </select>
    <!--查找所有即将上映的电影-->
    <select id="filmsWillLoad" resultMap="filmDetailResultMap">
        SELECT  <include refid="filmDetailsPro"/>
        FROM film f
        JOIN film_details fd
        on f.id = fd.film_id
        WHERE fd.film_start_date &gt; #{now} and fd.film_start_date !=''
    </select>
    <!--根据电影id查找热度film_hot-->
    <select id="selectFilmHot" resultType="java.lang.Integer">
        SELECT film_hot FROM film WHERE id = #{filmId}
    </select>
    <!--根据电影id修改电影热度film_Hot-->
    <update id="updateFilmHot">
        UPDATE film set film_hot = #{hotValue} WHERE id = #{filmId}
    </update>
    <!--&lt;!&ndash;分页查找上映的电影&ndash;&gt;-->
    <!--<select id="filmsLoadingByPage" resultMap="filmDetailResultMap">-->
        <!--SELECT  <include refid="filmDetailsPro"/>-->
        <!--FROM film f-->
        <!--JOIN film_details fd-->
        <!--on f.id = fd.film_id-->
        <!--WHERE fd.film_start_date &lt; #{now} and fd.film_start_date !='' limit #{start},5-->
    <!--</select>-->
    <!--&lt;!&ndash;分页查找即将上映的电影&ndash;&gt;-->
    <!--<select id="filmsWillLoadByPage" resultMap="filmDetailResultMap">-->
        <!--SELECT  <include refid="filmDetailsPro"/>-->
        <!--FROM film f-->
        <!--JOIN film_details fd-->
        <!--on f.id = fd.film_id-->
        <!--WHERE fd.film_start_date &gt; #{now} and fd.film_start_date !='' limit #{start},5-->
    <!--</select>-->
    <!--&lt;!&ndash;查找正在上映的电影总数&ndash;&gt;-->
    <!--<select id="selectLoadingCounts" resultType="java.lang.Integer">-->
        <!--SELECT count(*) FROM film_details WHERE film_start_date &lt; #{now}-->
    <!--</select>-->
    <!--&lt;!&ndash;查找即将上映的电影总数&ndash;&gt;-->
    <!--<select id="selectWillLoadCounts" resultType="java.lang.Integer">-->
        <!--SELECT count(*) FROM film_details WHERE film_start_date &gt; #{now}-->
    <!--</select>-->
</mapper>