* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

body,
html {
	height: 100%;
	font-size: 14px;
	color: #666;
	overflow-x: hidden;
}


/*头部*/
.header {
	width: 100%;
	height: 58px;
	background: #262626;
	border-bottom: 2px solid #262626;
	color: #fff;
}

.wrap {
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.h-nav,
.user {
	height: 100%;
}

.h-nav ul,
.user ul {
	display: flex;
	height: 100%;
}

.h-nav ul li,
.user ul li {
	height: 100%;
	line-height: 60px;
}

.h-nav ul li a,
.user ul li a {
	display: block;
	width: 80px;
	height: 100%;
	text-align: center;
	color: #fff;
	font-size: 16px;
}

.user ul li a {
	width: auto;
	padding: 0 10px;
}

.active{
	color: #FF6640;
	border-bottom: 2px solid #FF6640;
}

/*主体*/
.bodyer {
	margin: 40px 0;
}

.tabList {
	padding-top: 15px;
}

.t-head {
	margin-bottom: 20px;
	display: flex;
	justify-content: space-between;
}

.t-body {
	width: 100%;
	text-align: center;
	border-collapse: collapse;
}

.t-body tr td {
	padding: 10px 0 0;
}

.form-group {
	margin-bottom: 20px;
}

.form-control {
	width: 300px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 0 5px;
}

.control-input {
	height: 26px;
	outline: none;
	border: none;
	width: 220px;
}

.btn {
	height: 38px;
	line-height: 38px;
	padding: 0 10px;
	color: #666;
	border: 1px solid #666;
	border-radius: 4px;
	/*font-size: 16px;*/
	/*letter-spacing: 5px;*/
}
.btn-primary {
	background: #FF6640;
	color: #fff;
	border: 1px solid #FF6640;
}
.btn-default {
	background: #fff;
	/*color: #666;*/
	/*border: 1px solid #666;*/
}
.btn-l{
	padding: 0 40px;
}
.btn-block {
	width: 100%;
	height: 40px;
	font-size: 16px;
	/*letter-spacing: 5px;*/
}

.margin-b-2 {
	margin-bottom: 20px;
}


/*底部*/
.footer {
	background: #1A1A1A;
}

.botter {
	height: 300px;
	background: #000;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.a-links {
	margin-bottom: 20px;
}

.a-links a {
	color: #888;
	padding: 0 10px;
	border-right: 1px solid #888;
}

.a-links a:last-child {
	border: 0;
}

.a-links a:hover {
	color: #FF6640;
	text-decoration: underline;
}

.copyR {
	margin-bottom: 20px;
	color: #888;
}