* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

body,
html {
	height: 100%;
	overflow: hidden;
	font-size: 14px;
	color: #666;
}

.header {
	width: 100%;
	height: 60px;
	background: #262626;
	color: #fff;
}

.wrap {
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.h-nav,
.user {
	height: 100%;
}

.h-nav ul,
.user ul {
	display: flex;
	height: 100%;
}

.h-nav ul li,
.user ul li {
	height: 100%;
	line-height: 60px;
}

.h-nav ul li a,
.user ul li a {
	display: block;
	width: 80px;
	height: 100%;
	text-align: center;
	color: #fff;
	font-size: 16px;
}

.user ul li a {
	width: auto;
	padding: 0 10px;
}

.bodyer {
	margin: 40px 0;
}

.nav {
	width: 120px;
	background: #E5E5E5;
	color: #333;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
}

.nav-head {
	width: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 20px;
	border-bottom: 1px solid #888;
}

.nav-head img {
	width: 100px;
	border-radius: 100%;
}

.nav-head p {
	height: 26px;
	line-height: 26px;
}

.nav-list,
.nav-list ul,
.nav-list ul li {
	width: 100%;
}

.nav-list {
	padding: 10px 0;
}

.nav-list ul li a {
	display: block;
	color: #333;
	text-align: center;
	padding: 5px 0;
}

.main {
	width: 1000px;
	height: 407px;
}

.bigTitle {
	height: 47px;
	border-bottom: 1px solid #666;
}

.mainContent {
	height: 360px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.part {
	display: none;
}

.orderList {
	width: 100%;
	height: 100%;
	display: block;
}

.phone {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.margin-b-2 {
	margin-bottom: 20px;
}

.no-order {
	color: #E5E5E5;
	text-align: center;
	margin-top: 10%;
}

.tabList {
	padding: 15px;
}

.t-head {
	margin-bottom: 20px;
	display: flex;
	justify-content: space-between;
}

.t-body {
	width: 100%;
	text-align: center;
	border-collapse: collapse;
}

.t-body tr td {
	padding: 10px 0 0;
}

.t-tit {
	height: 36px;
	line-height: 36px;
	background: #ddd;
	border-radius: 4px;
	display: flex;
	justify-content: space-around;
}

.tit {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.tit img {
	height: 60px;
	margin-right: 10px;
}

.form-group {
	margin-bottom: 20px;
}

.form-control {
	width: 300px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 0 5px;
}

.control-input {
	height: 26px;
	outline: none;
	border: none;
	width: 220px;
}

.sendCode {
	display: inline-block;
	cursor: pointer;
}

.btn {
	width: 100%;
	height: 40px;
	background: #FF6640;
	border: 1px solid #FF6640;
	border-radius: 4px;
	color: #fff;
	font-size: 16px;
	letter-spacing: 5px;
}

.footer {
	background: #1A1A1A;
}

.botter {
	height: 300px;
	background: #000;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.a-links {
	margin-bottom: 20px;
}

.a-links a {
	color: #888;
	padding: 0 10px;
	border-right: 1px solid #888;
}

.a-links a:last-child {
	border: 0;
}

.a-links a:hover {
	color: #FF6640;
	text-decoration: underline;
}

.copyR {
	margin-bottom: 20px;
	color: #888;
}

a.active,
.red {
	color: #FF6640 !important;
}

.cyan {
	color: cyan;
}

.grey {
	color: #888;
}