<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!--设置代理过滤器对象-->
    <!--因为过滤器filter 的初始化实在spring之前，所以而shiro的是靠过滤器进行初始化，并且shiro中还用到了mybatis这样就产生了问题-->
    <!--于是就产生了过滤器代理对象: 将一些参数交给spring   filter进行初始化之后等待这些参数的初始化   类似于生产者消费者模式-->
    <!-- name的取值必须要和web.xml中的filter的名称一致，因为过滤器代理是通过filter的名称查找spring容器中的代理对象-->
    <bean name="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
        <!--指定登录界面-->
        <property name="loginUrl" value="/login.jsp"/>
        <property name="filterChainDefinitions">
            <value>
               <!-- &lt;!&ndash;anon 代表不需要登录-->
                /user/login=anon
                /css/**=anon
                /img/**=anon
                /js/**=anon
                <!--authc需要登录才能访问-->
                <!--user配合rememberMe使用有效，authc不能配合rememberMe使用-->
                /**=authc
            </value>
        </property>
    </bean>

    <bean name="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realms" ref="MyRealm"/>
        <!--配置rememberMe-->
        <property name="rememberMeManager" ref="rememberMeManager"/>
    </bean>

    <bean name="MyRealm" class="com.ticket.realm.MyRealm"/>

    <bean name="rememberMeManager" class="org.apache.shiro.web.mgt.CookieRememberMeManager">
        <property name="cookie" ref="rememberMeCookie"/>
    </bean>
    <bean name="rememberMeCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
        <!--避免xss跨站点的攻击-->
        <property name="httpOnly" value="true"/>
        <!--存活时间-->
        <property name="maxAge" value="30000"/>
        <constructor-arg value="rememberMe"/>
    </bean>


</beans>